.menu{
    
    transition: background-color 0.1s ease-out;
}
.menu:hover{
    background-color: rgba(177, 176, 176, 0.373);
    /* background-color: rgb(240, 93, 93); */
    transition: all 0.2s ease
}
.menu-active {
    background-color: rgba(177, 176, 176, 0.373);
    /* background-color: rgba(240, 93, 93, 0.308); */
}