.menu{
    
    transition: background-color 0.1s ease-out;
}
.menu:hover{
    background-color: rgb(240, 93, 93);
    /* background-color: rgb(92, 38, 139); */
    transition: all 0.2s ease
}
.menu-active {
    background-color: rgb(240, 93, 93);
}