@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    font-family: "Roboto", sans-serif;
    background-color: rgb(66, 64, 64);
}

.landing-page-bg{
    background-image: url(../src/assets/bg.webp);
    background-position: center;
    object-fit: cover;
    /* filter: blu; */
    filter: brightness(25%);
}